/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Formulaires */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Pour que le padding n'augmente pas la taille totale */
}

/* Messages de succès et d'erreur */
.success {
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 15px;
}

.error {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
}


/* Cartes logements */
.liste-logements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}


.carte-logement {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajouté pour un meilleur rendu */
}


.image-principale {
    width: 100%;
    height: 200px; /* Taille fixe pour uniformiser les cartes */
    object-fit: cover; /* Assure que l'image couvre la zone sans déformation */
    border-radius: 10px;
}


.infos-logement h3 {
    margin-bottom: 5px;
    color: #333;
}


.proprietaire {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.avatar-proprietaire {
    width: 40px;
    height: 40px;
    border: 2px solid #4CAF50; /* Ajouté */
    border-radius: 50%;
    object-fit: cover;
}


/* Pagination */
.pagination {
    margin-top: 25px;
    text-align: center;
}

.pagination a {
    padding: 6px 12px;
    margin: 4px;
    border-radius: 6px;
    background: #ddd;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
}


.pagination a.active {
    background: #4CAF50;
    color: white;
}


.pagination a:hover {
    background: #bbb;
}